rm .coafile
asciinema rec
<Return>
<Sleep:200>
# Let's see what source code we have!
ls
<Return>
<Sleep:700>
# Let's analyze Java for clones and spacing
pip install coala-bears
<Sleep:2500>
<Return>
<Sleep:1000>
# We need PMD installed for this:
export PATH=$PATH:~/Downloads/pmd-bin-5.4.2/bin
# Simply tell coala what to do - bears
# can be looked up at coala.io/languages
<Return>
<Sleep:200>
# We're analyzing spacing and checking for copy
# and pasted code - normally you would need two
# very different tools for that :)
coala --files "**.java" \
--bears CPDBear,SpaceConsistencyBear --save
<Return>
<Sleep:500>
java
<Sleep:1500>
<Return>
<Sleep:500>
yeah
<Sleep:1500>
<Return>
<Sleep:500>
0
<Sleep:1000>
<Return>
<Sleep:500>
0
<Sleep:1000>
<Return>
<Sleep:500>
vim .coafile  # coala generated a config for us!
<Sleep:1500>
<Return>
<Sleep:1500>
ldwijava
<Escape>
jjjjo
# Let's add analysis for a whole new language!
[python]
bears = PEP8Bear
files = **.py
<Escape>
<Sleep:2500>
:wq
<Return>
coala
0
<Return>
<Sleep:1500>
0
<Return>
<Sleep:1500>
0
<Return>
<Sleep:1500>
3
<Return>
<Sleep:2500>
0
<Return>
<Sleep:1500>
vim .coafile
<Sleep:1500>
<Return>
<Sleep:1500>
jjjjjjjjjo
[markdown]
bears = MarkdownBear
files = **.md
<Escape>
<Sleep:1500>
:wq
<Return>
coala markdown --apply-patches \
# Run coala only on our markdown code, apply autofixes without asking
<Return>
<Sleep:2500>
git diff
<Return>
<Sleep:2500>
<Return>
<Ctrl+D>
